@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.icons {
  display: flex;
  gap: 10px;
  margin-top: 0px;
  margin-right: 5px;
  justify-content: flex-start; /* Ajustamos el contenido al extremo izquierdo */
  align-items: center; /* Centramos verticalmente los íconos */
  margin-bottom: 8px;
}

.try{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.icons img{
  width: 30px;
  height: 30px;
}
.title{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline;
}

.main_text{
  font-size: 40px;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto; /* Establece el margen automático en los lados izquierdo y derecho */
}

.btn{
  background-color: #a6ff00;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #628b00; /* Cambia el color de fondo al pasar el ratón por encima */
}

.btn:active {
  background-color: #00803c;
}

p, h1{
  color: #fff;
}